
/*
This CSS governs the appearance of our site.
You can find the basic concepts of CSS here: https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/How_CSS_works
*/

/*
This makes the border and padding be counted as part of the element's size.
https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Box_model
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/


body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.top-row {
  display: flex;
  gap: 1rem;
}

.main-svg {
  flex: 3;
  border: 1px solid #ccc;
  min-height: 300px;
}

.side-panel {
  flex: 1;
  border: 1px solid #ccc;
  padding: 0.5rem;
}


.bottom-row {
  display: flex;
  gap: 1rem;
}

.plot {
  flex: 1;
  border: 1px solid #ccc;
  min-height: 250px;
}




.plot svg {
  width: 100%;
  height: 100%;
  display: block;
}

.plot svg path {
				stroke: rgb(250, 150, 0);
				stroke-width: 1px;
				fill: None;
}

.plot svg text {
  font-family: sans-serif;
  font-size: 8px;
  fill: black;
}

.plot svg text.tick {
  font-size: 4px;             /* smaller than the X label */
  fill: gray;
}


#map {
  height: 500px;
  width: 100%;
}


.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.4rem;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  flex-shrink: 0;
}
